version: '3.7'

services:
  mail:
    image: teecke/gp-mail:0.4.0
    build: mail
    ports:
      - 0025:0025
    volumes:                                                                     
      - ./data/var/spool/postfix:/var/spool/postfix

networks:
    default:
      external:
        name: platform_services
